%flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
%hover {
    transition: .3s ease;
    &:focus, &:hover, &:active {
        opacity: 0.6;
    }
}

@mixin sizes ($w, $h) {
    width: $w;
    height: $h;
}
@mixin fontSizes ($fs, $fw) {
    font-size: $fs;
    font-weight: $fw;
}

// header
.header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: 999;
    height: 64px;
    background: #F4E5AC;
    box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.16);

    &__wrapper {
        @extend %flex;
        padding-top: 8px;
    }
    // title
    &__title {
        @extend %flex;
    }
    &__text-title {
        @include fontSizes(22px,500);
        margin: 0 0 0 24px;
    }
    // nav
    &__nav {
        width: 300px;
    }
    &__ul {
        @extend %flex;
        width: 100%;
    }
    &__text-li {
        @extend %hover; 
        cursor: pointer;
        font-size: 20px;
    }
    &__img-li {
        @include sizes(48px,48px);
        @extend %hover; 
        cursor: pointer;
    }
    // img
    &__item-img {
        @include sizes(48px,48px);
        cursor: pointer;
    }
}
