.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(128,128,128,0.7);
    overflow-x: hidden;

    .spinner-border {
        z-index: 101;
        width: 64px;
        height: 64px;
        color: #000;
    }
}